:root {
	--main: #4995fa;
	--darker: #224aa5;
	--lighter: #9dc8f9;
}

@keyframes darken {
	100% {
		color: white;
		background-color: var(--darker);
		transform: scale(1.1);
	}
}

@keyframes lighten {
	100% {
		color: var(--darker);
		background-color: var(--lighter);
	}
}

html {
	background-color: var(--darker);
}

body {
	border-radius: 10px;
	width: 90%;
	margin: auto;
	padding: 1vw;
	background-color: var(--lighter);
	font-family: sans-serif;
	box-shadow: 0 0 10px black;
}

.keyboard, .lamps {
	display: flex;
	flex-direction: column;	
	padding: .1vw;
	width: auto;
	margin: auto;
}

.row1, .row2, .row3 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

p {
	border-radius: 50%;
	color: white;
	background-color: var(--main);
	font-size: 1.5vw;
	padding: 1vw;
	margin: 0.5vw;
	width: 1.5vw;
	height: 1.5vw;
	text-align: center;
	box-shadow: 0px 5px 5px var(--darker);
}

.pressed {
	position: relative;
	top: 5px;
	box-shadow: inset 0px 0px 10px var(--darker);
}

.lit {
	background-color: white;
	color: var(--darker);
	box-shadow: 0px 0px 20px white !important;
}

.wheels {
	display: flex;
	flex-direction: row;
	margin: auto;
	box-shadow: 0px 0px 15px var(--darker);
	border-radius: 10px;
}

.wheel {
	display: flex;
	flex-direction: column;
	height: 25vh;
	padding: 2vw;;
	margin: 1vw;
	background-color: var(--main);
	border-radius: 5px;
}

.wheel p {
	background-color: var(--lighter);
	color: var(--darker);
	border-radius: 0px;
	margin: auto;
	box-shadow: inset 0px 0px 10px var(--darker);
}

button {
	background-color: var(--darker);
	border-radius: 5px;
	border-style: none;
	margin: auto;
	padding: auto;
	width: 90%;
	height: 15%;
}

button:hover {
	animation-name: lighten;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

img {
	height: 100%;
	width: 100%;
}

.top {
	display: flex;
	flex-direction: row;
}

.lamps p {
	box-shadow: inset 0px 0px 20px var(--darker);
}

a {
	border: none;
	display: inline;
	width: auto;
	font-size: 1vw;
	padding: 7px;
	margin: 10px;
	background-color: var(--main);
	color: white;
	border-radius: 10px;
	text-decoration:none;
}

a:hover {
	animation-name: darken;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}