@import url(https://anegasakii.github.io/base.css);

html { background-color: var(--darker); }
body {
	border-radius: 5px;
	width: 90%;
	margin: 3vh auto;
	padding: 3vw;
	background-color: var(--darkest);
}

.keyboard, .lamps {
	display: flex;
	flex-direction: column;	
	padding: .1vw;
	width: auto;
	margin: auto;
}

.row1, .row2, .row3 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

p {
	border-radius: 50%;
	color: white;
	background-color: var(--main);
	font-size: 2vw;
	padding: 1vw;
	margin: 0.5vw;
	width: 2vw;
	height: 2vw;
	text-align: center;
	box-shadow: 0px 5px 5px var(--darker);
}

.pressed {
	position: relative;
	top: 5px;
	box-shadow: inset 0px 0px 10px var(--darker);
}

.lit {
	background-color: white;
	color: var(--darker);
	box-shadow: 0px 0px 20px white !important;
}

.wheels {
	display: flex;
	flex-direction: row;
	margin: auto;
	background-color: var(--main);
}

.wheel {
	display: flex;
	flex-direction: column;
	height: 25vh;
	padding: 2vw;;
	margin: 1vw;
	background-color: var(--darker);
}

.wheel p {
	background-color: var(--lighter);
	color: var(--darker);
	border-radius: 0px;
	margin: auto;
	box-shadow: inset 0px 0px 15px var(--darker);
}

button {
	border-width: 2px;
	margin: auto;
	padding: auto;
	width: 90%;
	height: 15%;
	display: block;
}

img {
	margin: auto;
	height: 100%;
	width: 100%;
}

.top {
	display: flex;
	flex-direction: row;
	margin: 1vh 1vw;
}

.lamps p { box-shadow: inset 0px 0px 20px var(--darker); }

.hidden { display: none; }

@media (max-width: 1000px) {
	p {
		font-size: 3vw;
		width: 3vw;
		height: 3vw;
	}
	body { padding: 3vh 0; }
	.lamps { margin-top: 2vh; }
	.top { flex-direction: column; }
	.nav { margin: 4vh 2vw 0; }
}